@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Delete this machine?</h1>
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<br>
<p>@Html.ActionLink("All Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>