@{
  Layout = "_Layout";
}

@using Factory.Models;
<h1>Engineers</h1>
<br>
@if(Model.Count == 0)
{
  <p>no engineers have been added yet</p>
}

<ul>
  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
  }
</ul>
<br>
<p>@Html.ActionLink("Add an engineer", "Create")</p> 
<p>@Html.ActionLink("Home", "Index", "Home")</p>